@model IEnumerable<Tarea9.pacientes>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Pacientes Vacunados en casa por COVID-19</h2>

<p>
    @Html.ActionLink("Crear Nuevo Registro", "Create", null, new { @class = "btn btn-info btn-md", role = "button" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cedula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Correo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Le_Dio_Covid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Justificacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.latitud)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.longitud)
        </th>
        <th>
            @Html.DisplayName("Provincia")
        </th>
        <th>
            @Html.DisplayName("Sangre")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cedula)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Correo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaNacimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Direccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Le_Dio_Covid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Justificacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.latitud)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.longitud)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.provincias.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoSangre.Nombre)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id })
            @Html.ActionLink("Detalles", "Details", new { id=item.Id })
            @Html.ActionLink("Borrar", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
